body {background: url(https://i.ibb.co/3TmwkXj/Adobe-Stock-298359661.jpg) no-repeat center fixed;
  background-size: cover;
background-color: #660066;
color: white;
font-family: Tahoma, sans-sarif;
margin: 5%;}

h1 {text-align: center;
font-size: 80px;
text-transform: uppercase;
text-shadow: black 4px 4px;
border-style: double;
border-color: black;
border-radius: 5px}

table {border: none;
  border-radius: 5px;
  background-color: black;
  text-align: justify, center;
  width: 100%;}

h2 {text-align: center;
text-transform: uppercase;
color: white;
text-shadow: black 2px 2px;
font-size: 30px;}

h3 {font-size: 20px; text-align: center;
border: none;
border-radius: 2px;
background-color: #660066;
opacity: .7;
text-shadow: black 1px 1px;}

h4 {border-bottom: 1px solid white;
font-style: italic;
color: black;}

h5 {text-align: right;
color: black;
font-style: italic}

a:link {color: #660066;
  background-color: transparent;
  text-decoration: none;}
a:visited {color: #ff6699;
  background-color: transparent;
  text-decoration: none;}
a:hover {color: #ff9933;
  background-color: transparent;
  text-decoration: underline;}
a:active {color: white;
  background-color: transparent;
  text-decoration: underline;}

p {text-align: center;}
